
.timer {
    width: 250px;
    padding: 10px;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #ccc;
    border-radius: 3px;
    margin-top: 5px;
}

.progress {
    height: 100%;
    background-color: rgb(77, 234, 255);
    border-radius: 3px;
}

.timer > button {
    width: 100%;
    height: 30px;
    margin-top: 5px;
}