
.entry {
    min-height: 100px;
    margin-top: 30px;
}

.entry div {
    display: flex;
    margin-bottom: 5px;
}

.entry label {
    flex: 0 0 auto;
    display: inline-block;
    width: 75px;
}

.entry input {
    flex: 1 1 auto;
    width: 100px;
    min-width: 75px
}