.list-view {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.list-view select {
    flex: 1 1 auto;
    width: 100%;
}

.list-view form {
    flex: 0 0 auto;
    display: flex;
    height: 30px;
}
.list-view form label {
    width: max-content;
    padding-right: 5px;
}

.list-view form input {
    flex: 0 1 auto;
    width: 100px;
    height: 21.5px;
    min-width: 50px;
}

