
.window {
    background-color: aliceblue;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    width: min-content;
}

.window-header {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 25px;
    background-color: rgb(207, 204, 204);
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.buttons {
    display: flex;
    position: absolute;
    left: 0;
    padding: 2px 0 0 2px;
}

.window-button {
    width: 15px;
    height: 15px;
    padding: 0;
    border: 1;
    border-radius: 7.5px;
    margin: 2px;
}

.window-button.red {
    background-color: red;
}

.window-button.yellow {
    background-color: yellow;
}

.window-button.green {
    background-color: green;
}