

.window {
    background-color: aliceblue;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
}

.window-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    background-color: rgb(207, 204, 204);
    border-radius: 10px 10px 0 0;
    width: 100%;
}
