
.flight-booker {
  width: 250px;
  padding: 10px;
}

.flight-booker * {
  margin-bottom: 2px;
  font-size: 18px;
}

.selector {
  height: 30px;
  width: 100%;
}

.date-field {
  height: 30px;
  width: 100%;
  border: 1px solid #ccc;
}

.date-field.invalid {
  width: 100%;
  background-color: red;
}

.button {
  width: 100%;
  height: 30px;
}
