

.temperature-converter {
    padding: 20px;
}

.temperature-converter input {
    width: 70px;
    margin-right: 3px;
    font-size: 1.5rem;
}

.temperature-converter span {
    font-size: 1.5rem;
}

.equal-size {
    margin-left: 10px;
    margin-right: 10px;
}