* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  font-size: 2rem;
}

#windows {
  display: flex;
  min-width: 200px;
  min-width: 600px;
  flex-direction: column;
}

#windows > * {
  margin-bottom: 30px;
}

.main {
  width: 200px;
}

.flex-container {
  display: flex;
  padding: 10px;
  border: 1px solid black;
}

.flex-container input {
  flex: 1 1 auto;
  width: 50px;
}

.flex-container div {
  flex: 1 1 auto;
  width: 50px;
  height: 50px;
  background-color: blue;
}


.list {
  display: flex;
  width: 200px;
  height: 40px;
  border: 1px solid black;
  padding: 5px;
}

.list input {
  height: 21.5px;
  flex: 1 1 0;
  width: 50px;
  min-width: 0;
}
